@model Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="row">

    <div class=" col-md-10 offset-1">
        <div class="product-card">
            <div class="row">
                <div class="col-6">
                    <img src="@Model.ProductImageURL" width=95% />
                </div>
                <div class="col-6" style="font-family:'Bentham' , serif;">
                    <h1>@Model.ProductBrand</h1>
                    <h3>@Model.ProductName</h3>
                    <p>@Model.Category.CategoryName</p>
                    <hr class="rounded" />
                    <p>@Model.ProductPrice₺</p>
                </div>
            </div>
        </div>
    </div>
</div>