@model IEnumerable<Product>

@{
    ViewData["Title"] = "List of Products";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-6 ">
            <div class="wrapper">
                <div class="product-img">
                    <img src="@item.ProductImageURL" height="420" width="327">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>@item.ProductBrand @item.ProductName</h1>
                        <h2>@item.Category.CategoryName</h2>
                        <p>@item.ProductDescription </p>
                    </div>
                    <div class="product-price-btn">
                        <p><span>@item.ProductPrice</span>₺</p>
                        <button type="button">buy now</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>