@model IEnumerable<Products>

@{
    ViewData["Title"] = "List of Products";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-6 ">
            <div class="wrapper">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <div class="product-img">
                        <img src="@item.ProductImageURL" height="420" width="327">
                    </div>
                </a>
                <div class="product-info">
                    <div class="product-text">
                        <h1>@item.ProductBrand @item.ProductName</h1>
                        <h2>@item.Category.CategoryName</h2>
                        <p>@item.ProductDescription </p>

                    </div>
                    <div class="product-price-btn">
                        <p><span>@item.ProductPrice</span>₺</p>
                        <a asp-controller="Order" asp-action="AddToShoppingCart" asp-route-id="@item.Id">
                            <div type="button">Add to cart</div>
                        </a>
                    </div>
                </div>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square">Edit</i></a>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem","Product")