@model List<Order>

@{
    ViewData["Title"] = "All Orders";
}

<div class="row">
    <div class="col-8 offset-2">
        <p>
            <h4>All your orders</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    <th>User</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info align-middle" role="alert">
                                            <span style="height:auto;"class="badge bg-success align-middle">@item.Amount</span>[@item.Price.ToString("c")] - @item.Product.ProductBrand @item.Product.ProductName
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(n=>n.Product.ProductPrice*n.Amount).Sum().ToString("c")
                        </td>
                        <td class="align-middle"> - </td>
              
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>